<h1>new works!</h1>

<h1 >{{new.title}}</h1>
{{new.authorName.authorsName}}
{{new.dateTime}}

<ul>
    <li *ngFor="let tag of new.tags">
        {{tag.value}} 
    </li>
</ul>
<h2>Conteúdo:</h2>
{{new.content}}

<h2>Adicione Seu Comentário</h2>

<form action="">
    <label for="ln">Nome: </label> <input type="text"> <br>
    <label for="lg1">Genêro Masculino: </label> <input type="radio" name="n1" id="id1">
    <label for="lg2">Genêro Feminino: </label> <input type="radio" name="n2" id="id2"> <br>
    <label for="lc">Comentário: </label> <input type="text"> <br>
</form>

<input type="button" value="Comentar"> <br>

Comentários

<ul>
    <li *ngFor="let comment of new.comments;">
        {{comment.author.authorsName}} |
        {{comment.author.gender}} |
        {{comment.date| date: 'dd/MM/yyyy:mm:ss'}} <br>
        {{comment.content}} <br>
    </li>
</ul>

<router-outlet></router-outlet>
