<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            Atualizar Noticia
            <label for="ltgs">Tags Escolhidas: </label>

            <ul class="list-group">
                <li *ngFor="let tag of tagList" class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge bg-primary rounded-pill">{{tag}}</span>
                </li>
            </ul>
            
            <div class="mb-3">
                <label for="title" class="form-label">Título: </label> 
                <input type="text" [(ngModel)]="new.title" class="form-control">
            </div>
        
            <div class="mb-3">
                <label for="t" class="form-label">Tags: </label> 
                <input type="text" [(ngModel)]="tag" class="form-control"> <br>
                <button type="submit" (click)="addTag()" class="btn btn-primary">Incluir Tag</button>
            </div>
        
            <div class="mb-3">
                <label for="cnt" class="form-label">Conteúdo: </label>
                <textarea name="ntxt" id="idt" cols="30" rows="10" [(ngModel)]="new.content" class="form-control"></textarea>

                <div id="loading" style="display: none">
                    <img src="https://media.giphy.com/media/3y0oCOkdKKRi0/giphy.gif" style="width:50px;height:50px;" />
                </div>

                <div class="alert alert-success" role="alert" *ngIf="sucess === true">
                    Noticia Atualizada Com Sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="erro === true">
                    Não Foi Possivel Atualizar A Noticia!
                </div>
            </div>
        
            <button type="submit" (click)="onSubmit()" class="btn btn-primary">Atualizar Noticia</button>

        </div>
        <div class="col-2"></div>
    </div>
</div>

<router-outlet></router-outlet>